<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MySqlConnexion" connectionString="server=420.cstj.qc.ca;userid=lanman;password=LM116644;database=420.5a5.a16_lanman" />
  </connectionStrings>
</configuration>